header {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-color: #305c81;
    background-image: linear-gradient(rgba(120, 120, 120, 0.4), rgba(120, 120, 120, 0.4)), url("../img/logo.png");

    /* Position and center the image to scale nicely on all screens */
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

iframe {
    margin-bottom: 2rem;
    border: 0;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

section#keynote div.card-group {
    height: 100%;
}

#schedule .card-group .card .card-body {
    padding: 0;
}
#schedule .card-group .card {
    min-width: 10rem;
    margin-bottom: 1rem;
}

.row + .row {
    margin-top: 1rem;
}